# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-bonus-n-payments-contributors
/infra/bootstrapper/ @pagopa/io-bonus-n-payments-contributors @pagopa/engineering-team-devex

