# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-bonus-n-payments-contributors

/infra/ @pagopa/engineering-team-cloud-eng @pagopa/io-bonus-n-payments-contributors
/.github/ @pagopa/engineering-team-cloud-eng @pagopa/io-bonus-n-payments-contributors
