openapi: 3.0.0
info:
  title: Liberty REST APIs
  description: Discover REST APIs available within Liberty by Sogei
  version: 1.1.0
servers:
  - url: https://ssotest.cartadellacultura.it
tags:
  - name: registrazione
    description: metodi inerenti all'utente
  - name: utilizzo
    description: metodi inerenti all'utilizzo della cdc
paths:
  /CDCUtenteWS/rest/secured/beneficiario/stato:
    get:
      tags:
        - registrazione
      summary: controllo anno registrazione per il beneficiario
      operationId: stato
      security:
        - JwtAuth: []
      responses:
        "200":
          description: Tutto OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListaRegistratoBean"
        "400":
          description: Validazioni non superate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemBean"
        "401":
          description: Utente non autorizzato
        "403":
          description: Utente non loggato
        "500":
          description: Errore interno.
  /CDCUtenteWS/rest/secured/beneficiario/registrazione:
    post:
      tags:
        - registrazione
      summary: "Prima registrazione del beneficiario sul db "
      operationId: registrazione
      security:
        - JwtAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InputBeneficiarioBean"
      responses:
        "200":
          description: Tutto OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListaEsitoRichiestaBean"
        "400":
          description: Validazioni non superate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemBean"
        "401":
          description: Utente non autorizzato
        "403":
          description: Utente non loggato
        "500":
          description: Errore interno.
  /CDCUtenteWS/rest/secured/beneficiario/getListaBorsellino:
    get:
      tags:
        - utilizzo
      summary:
        Restituisce la lista di tutti i borsellini presenti per Carta della
        Cultura
      operationId: getListaBorsellino
      security:
        - JwtAuth: []
      responses:
        "200":
          description: Tutto OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBorsellinoDetails"
        "400":
          description: Validazioni non superate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemBean"
        "401":
          description: Utente non autorizzato
        "403":
          description: Utente non loggato
        "500":
          description: Errore interno.
  /CDCUtenteWS/rest/secured/beneficiario/generaVoucher:
    post:
      tags:
        - utilizzo
      summary: Crea un nuovo voucher di Carta della Cultura
      operationId: generaVoucher
      security:
        - JwtAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherBeanRequest"
      responses:
        "200":
          description: Tutto OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherBeanDetails"
        "400":
          description: Validazioni non superate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemBean"
        "401":
          description: Utente non autorizzato
        "403":
          description: Utente non loggato
        "500":
          description: Errore interno.
  /CDCUtenteWS/rest/secured/beneficiario/annullaVoucher/{codVoucher}:
    delete:
      tags:
        - utilizzo
      summary: Annulla il Voucher di Carta della Cultura
      operationId: annullaVoucher
      security:
        - JwtAuth: []
      parameters:
        - name: codVoucher
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tutto OK
        "400":
          description: Validazioni non superate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemBean"
        "401":
          description: Utente non autorizzato
        "403":
          description: Utente non loggato
        "500":
          description: Errore interno.
  "/CDCUtenteWS/rest/secured/beneficiario/getListaVoucher/":
    get:
      tags:
        - utilizzo
      summary:
        Restituisce la Lista dei Voucher per nucleo di Carta della Cultura
        per Anno
      operationId: getListaVoucher
      security:
        - JwtAuth: []
      parameters:
        - name: annoRif
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Tutto OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVoucherDetails"
        "400":
          description: Validazioni non superate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemBean"
        "401":
          description: Utente non autorizzato
        "403":
          description: Utente non loggato
        "500":
          description: Errore interno.
  /CDCUtenteWS/rest/secured/beneficiario/getDettaglioVoucher/{codVoucher}:
    get:
      tags:
        - utilizzo
      summary: Restituisce il dettaglio del singolo Voucher di Carta della Cultura
      operationId: getDettaglioVoucher
      security:
        - JwtAuth: []
      parameters:
        - name: codVoucher
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tutto OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherBeanDetails"
        "400":
          description: Validazioni non superate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemBean"
        "401":
          description: Utente non autorizzato
        "403":
          description: Utente non loggato
        "500":
          description: Errore interno.
components:
  securitySchemes:
    JwtAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    RegistratoBean:
      type: object
      properties:
        statoBeneficiario:
          type: string
        annoRiferimento:
          type: string
    InputBeneficiarioBean:
      type: object
      properties:
        anniRif:
          type: array
          items:
            $ref: "#/components/schemas/AnniBeneficiario"
    EsitoRichiestaBean:
      type: object
      properties:
        esitoRichiesta:
          type: string
          enum:
            - INIZIATIVA_TERMINATA
            - ANNO_NON_AMMISSIBILE
            - CIT_REGISTRATO
            - OK
        annoRiferimento:
          type: string
    ListaEsitoRichiestaBean:
      type: object
      properties:
        listaEsitoRichiestaPerAnno:
          type: array
          items:
            $ref: "#/components/schemas/EsitoRichiestaBean"
    ProblemBean:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: string
          enum:
            - NO_INPUT
            - ANNI_RIFERIMENTO_NON_FORNITI
            - LISTA_ANNI_VUOTA
            - FORMATO_ANNI_ERRATO
            - INPUT_SUPERIORE_AL_CONSENTITO
        detail:
          type: string
        instance:
          type: string
        errorCode:
          type: string
    ListaRegistratoBean:
      type: object
      properties:
        listaStatoPerAnno:
          type: array
          items:
            $ref: "#/components/schemas/RegistratoBean"
    AnniBeneficiario:
      type: object
      properties:
        anno:
          type: string
        tsRichiestaEffettuata:
          type: string
          format: date-time
    ListBorsellinoDetails:
      type: object
      properties:
        listaRisultati:
          type: array
          items:
            $ref: "#/components/schemas/BorsellinoDTO"
    BorsellinoDTO:
      type: object
      properties:
        idBorsellino:
          type: integer
          format: int64
        idBeneficiario:
          type: integer
          format: int64
        idNucleo:
          type: integer
          format: int64
        annoRif:
          type: string
        importoTot:
          type: number
        importoRichNonValid:
          type: number
        importoValidato:
          type: number
        importoResiduo:
          type: number
        idStato:
          type: integer
          format: int64
        dataInserimento:
          type: string
          format: date-time
        datAggiornamento:
          type: string
          format: date-time
        codiceFiscale:
          type: string
        descStatoBorsellino:
          type: string
      required:
        - annoRif
        - importoResiduo
        - importoRichNonValid
        - importoTot
        - importoValidato
    VoucherBeanRequest:
      type: object
      properties:
        anno:
          type: string
        importo:
          type: number
        idBene:
          type: integer
          format: int64
          enum:
            - 7
      required:
        - anno
        - importo
        - idBene
    VoucherBeanDetails:
      type: object
      properties:
        annoRif:
          type: string
        codVoucher:
          type: string
        cfBeneficiario:
          type: string
        importoRichiesto:
          type: number
        stato:
          type: string
          enum:
            - INVIATO A CONSAP
            - INSERITO
            - SCADUTO
            - UTILIZZATO
            - CANCELLATO
            - PREVALIDATO
        richiedente:
          type: string
          enum:
            - SELF
            - FAMILY_MEMBER
        esercente:
          type: string
        rimborso:
          $ref: "#/components/schemas/RimborsoBean"
        importoValidato:
          type: number
        numFattura:
          type: string
        descrizioneBene:
          type: string
        dataScadenza:
          type: string
          format: date-time
        dataConferma:
          type: string
          format: date-time
        dataAnnullamento:
          type: string
          format: date-time
        dataInserimento:
          type: string
          format: date-time
        dataAggiornamento:
          type: string
          format: date-time
        strDataEmissione:
          type: string
        strDataConferma:
          type: string
        strDataScadenza:
          type: string
        strDataAggiornamento:
          type: string
        strDataAnnullamento:
          type: string
        strDataInserimento:
          type: string
        qr:
          type: string
        codeLine:
          type: string
      required:
        - annoRif
        - cfBeneficiario
        - codVoucher
        - importoRichiesto
        - dataInserimento
        - dataScadenza
        - codeLine
        - qr
        - richiedente
        - stato
    RimborsoBean:
      type: object
      properties:
        importoDaRiaccreditare:
          type: number
        importoUsato:
          type: number
        stato:
          type: string
          enum:
            - ""
            - Nessuna Riconversione Rilevata
            - RICONVERSIONE IN CORSO
            - RICONVERSIONE RIFIUTATA
            - VOUCHER RICONVERTITO
    SimpleResponseBean:
      type: object
      properties:
        codErrore:
          type: string
        descrErrore:
          type: string
        status:
          type: string
          enum:
            - NO_INPUT
            - ANNI_RIFERIMENTO_NON_FORNITI
            - LISTA_ANNI_VUOTA
            - FORMATO_ANNI_ERRATO
            - INPUT_SUPERIORE_AL_CONSENTITO
        msgERRProcedura:
          type: string
        codErrProcedura:
          type: integer
          format: int32
    ListVoucherDetails:
      type: object
      properties:
        size:
          type: integer
          format: int32
        listaRisultati:
          type: array
          items:
            $ref: "#/components/schemas/VoucherBeanDetails"
