{
  "IsEncrypted": false,
  "Values": {
    "NODE_TLS_REJECT_UNAUTHORIZED": 0,
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SLOT_TASK_HUBNAME": "FnAzureApiSlotTaskName",
    "NODE_ENV": "development",
    "ALGORITHM_ENCRYPTION": "",
    "ALGORITHM_KEYS": "",
    "ALGORITHM_SIGNATURE": "",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "",
    "CDC_API_BASE_URL": "",
    "CDC_API_BASE_URL_TEST": "",
    "CDC_BASE_URL": "",
    "COSMOSDB_CDC_DATABASE_NAME": "",
    "COSMOSDB_CDC_KEY": "",
    "COSMOSDB_CDC_URI": "",
    "ENCODING_ENCRYPTION": "",
    "ENCRYPTION_PRIVATE_KEY": "",
    "ENCRYPTION_PUBLIC_KEY": "",
    "FETCH_TIMEOUT_MS": "",
    "FIMS_REDIRECT_URL": "",
    "FIMS_CLIENT_ID": "",
    "FIMS_CLIENT_SECRET": "",
    "FIMS_ISSUER_URL": "",
    "FIMS_SCOPE": "",
    "JWT_AUDIENCE": "",
    "JWT_EXPIRATION": "",
    "JWT_ISSUER": "",
    "JWT_PRIVATE_KEY": "",
    "JWT_PUBLIC_KEY": "",
    "REDIS_CLUSTER_ENABLED": "",
    "REDIS_PASSWORD": "",
    "REDIS_PORT": "",
    "REDIS_TLS_ENABLED": "",
    "REDIS_URL": "",
    "SERVICES_API_KEY": "",
    "SERVICES_API_URL": ""
  }
}