on:
  workflow_call:
    inputs:
      workspace_name:
        description: The folder of the app.
        type: string
        required: true
      environment:
        description: Environment where the artifact will be deployed.
        type: string
        required: true
      resource_group_name:
        description: Resource group name.
        type: string
        required: true
      storage_account_name:
        description: Storage account name.
        type: string
        required: true
      blob_container_name:
        description: Blob container name.
        type: string
        required: true
      frontdoor_name:
        description: CDN profile name.
        type: string
        required: true
      frontdoor_endpoint_name:
        description: CDN profile endpoint name.
        type: string
        required: true
      use_private_agent:
        description: Use a private agent to deploy the built artifact.
        type: boolean
        required: false
        default: true
      use_labels:
        description: Use labels to start the right environment's GitHub runner. If use_labels is true, also use_private_agent must be set to true
        type: boolean
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-cd
  cancel-in-progress: true

env:
  BUNDLE_NAME: bundle

jobs:
  build:
    name: Build Artifact
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}-cd
    env:
      WORKSPACE: ${{ inputs.workspace_name }}
      VITE_ANALYTICS_API_HOST: ${{ secrets.VITE_ANALYTICS_API_HOST }}
      VITE_ANALYTICS_DEBUG: ${{ secrets.VITE_ANALYTICS_DEBUG }}
      VITE_ANALYTICS_ENABLE: ${{ secrets.VITE_ANALYTICS_ENABLE }}
      VITE_ANALYTICS_LOG_IP: ${{ secrets.VITE_ANALYTICS_LOG_IP }}
      VITE_ANALYTICS_MOCK: ${{ secrets.VITE_ANALYTICS_MOCK }}
      VITE_ANALYTICS_PERSISTENCE: ${{ secrets.VITE_ANALYTICS_PERSISTENCE }}
      VITE_ANALYTICS_TOKEN: ${{ secrets.VITE_ANALYTICS_TOKEN }}
      TURBO_CACHE_DIR: .turbo-cache

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        name: Checkout

      - name: Prune
        run: npx turbo prune --scope ${{ env.WORKSPACE }}

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js environment
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      # we fall back to node-modules, even in case pnp is configured, in order to avoid bundling dependendencies
      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
        working-directory: ./out

      - name: Restore turbo cache
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 #v4.2.0
        with:
          path: ./out/${{ env.TURBO_CACHE_DIR }}
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo

      - name: Build
        run: pnpm build
        working-directory: ./out

      - name: Build the artifact
        id: make-artifact
        run: |
          set -e

          pnpm install --prod --frozen-lockfile

          mkdir ${{ github.run_id }}

          # create the artifact (zip)
          zip -r $BUNDLE_NAME.zip dist/*

          echo "artifact-path=$(realpath $BUNDLE_NAME.zip)" >> "$GITHUB_OUTPUT"
        working-directory: ./out/apps/${{ env.WORKSPACE }}

      - name: Upload Artifact
        uses: pagopa/dx/.github/actions/upload-artifact@main
        with:
          bundle_name: ${{ env.BUNDLE_NAME }}
          file_path: ${{ steps.make-artifact.outputs.artifact-path }}

  deploy:
    name: Deploy
    if: ${{ !github.event.act }}
    needs: [build]
    runs-on: ${{ inputs.use_labels && inputs.use_private_agent && inputs.environment || inputs.use_private_agent && 'self-hosted' || 'ubuntu-latest' }}
    environment: ${{ inputs.environment }}-cd
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@87c55149d96e628cc2ef7e6fc2aab372015aec85 # v4.1.3
        with:
          name: ${{ env.BUNDLE_NAME }}

      - name: Azure Login
        uses: azure/login@a65d910e8af852a8061c627c456678983e180302 # v2
        env:
          ARM_USE_OIDC: true
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Deploy
        id: deploy-artifact
        run: |
          echo Downloading AZ Copy...
          curl -L  https://aka.ms/downloadazcopy-v10-linux > azcopy.tar.gz
          echo Extracting AZ Copy...
          tar -xzf azcopy.tar.gz
          echo Moving AZ Copy...
          mkdir -p /home/runner/.azure/bin/ && cp $(find . -type d -name "azcopy*")/azcopy /home/runner/.azure/bin/azcopy
          echo Unzipping bundle into dist folder...
          unzip ${{ env.BUNDLE_NAME }}.zip
          echo Copying dist folder to storage...
          az storage blob sync --auth-mode login --container '${{ inputs.blob_container_name }}' --account-name '${{ inputs.storage_account_name}}' --source 'dist'
        working-directory: .

      - name: Purge CDN
        id: purge-cdn
        timeout-minutes: 120
        run: |
          az afd endpoint purge \
            --resource-group '${{ inputs.resource_group_name }}' \
            --profile-name '${{ inputs.frontdoor_name }}' \
            --endpoint-name '${{ inputs.frontdoor_endpoint_name }}' \
            --content-paths '/*'
        working-directory: .
