name: Deploy Function App (backend-func)

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    paths:
      - "apps/backend-func/CHANGELOG.md"
      - ".github/workflows/deploy-backend-func.yaml"

jobs:
  deploy:
    name: Deploy Backend Func
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@d187d7667ee20d93cb588e06d7ab194ece3de911
    secrets: inherit
    with:
      workspace_name: backend-func
      environment: app-prod
      resource_group_name: io-p-itn-cdc-rg-01
      web_app_name: io-p-itn-cdc-backend-func-01
      use_labels: false
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
