name: Opex Dashboard api_support

on:
  push:
    branches:
      - master
    paths:
      - './apps/support-func/api/internal.yaml'
      - '.github/workflows/opex_api_support.yml'
      - '.opex/api_support/**'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}

jobs:
  apply:
    uses: ./.github/workflows/call_opex_api.yml
    name: Apply changes to Production
    secrets: inherit
    with:
      api_name: api_support
